#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@  --with python3

override_dh_installinit:
	dh_installinit --noscripts

# Override action to avoid starting vyatta-sfpd.socket, which doesn't
# cope well with vyatta-sfpd.service also running
override_dh_installsystemd:
	dh_installsystemd -p vyatta-sfpd vyatta-sfpd.service
	dh_installsystemd -p vyatta-sfpd --no-start vyatta-sfpd.socket
	dh_installsystemd -p vyatta-platform-util --no-start vyatta-platform-name.service
